* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
[class*="wrapper"] {
  margin: 30px;
}
.carousel-hider {
    width: 650px;
    overflow: hidden;
    float: left;
}
.carousel-list {
  list-style: none;
  width: 10000px;
  padding: 0;
  position: relative;
}
.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}
.carousel-element img {
    max-width: 200px;
}
.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
}
.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}
.carousel-arrow-left {
    margin-right: 25px;
}
.carousel-arrow-right {
    margin-left: 25px;
}

.galery {
  display: flex;
  flex-wrap: wrap;
}
.galery-item {
  list-style: none;
  background-color: #bec7b6;
  border: solid gray 2px;
  padding: 5px;
  margin: 10px;

}
.galery-item-title {
 font-size: 22px;
 font-weight: bold;
 text-align: center;
}
