@import "typography";

.article-list {
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.article-item {
  flex-basis: 35%;
  display: flex;
}
.article-number {
  font-size: 90px;
  color: $grey;
}
.article-main {
  padding-left: 35px;
}
.icon {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-bottom: 15px;
}
.power{
  background: url("../img/icons-main.png") 0 0 no-repeat;
}
.tech {
  background: url("../img/icons-main.png") -400px 0 no-repeat;
}
.delivery {
  background: url("../img/icons-main.png") -205px 0 no-repeat;
}
.article-title {
  font-weight: bold;
  margin-bottom: 25px;
}
.article-text {
  @include text;
  margin-bottom: 25px;
}
.article-link {
  @extend .article-text;
  color: black;
  &:hover {
    color: $blue;
  }
  i {
    margin: 2px;
    color: $blue;
    &:hover {
      color: $light-dark;
    }
  }
}
