* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.timeField {
  font-size: 120px;
  width: 850px;
  height: 250px;
  background-color: #e3e3e3;
  border: 2px solid black;
  border-radius: 25px;
  align-items: center;
  line-height: 250px;
}
button {
  height: 120px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 80px;
  font-size: 50px;
}
