
.form-wrapper {
  display: flex;
  border: 1px solid black;
  height: 110px;
}
.form-inputs {
  flex-direction: column;
}
.form-inputs-item {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
button {
  margin: 5px;
}
.form-tooltips {
  flex-direction: column;
}
.tooltip {
  justify-content: space-between;
  padding: 5px;
  height: 20px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 5px;
}
