
.form-wrapper {
  display: flex;
  border: 1px solid black;
  height: 110px;
}
.form-inputs {
  flex-direction: column;
}
.form-inputs-item {
  display: flex;
  padding: 5px;
}
input {
  margin-left: 10px;
}
button {
  margin: 5px;
}
.tooltip {
  justify-content: space-between;
  padding: 5px;
  margin-left: 10px;
  height: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 10px;
}
