@mixin white-shadow {
  color: white;
  text-shadow: .05rem .05rem .2rem $dark-gray;
}

$light-gray: #f9f9f9;
$medium-gray: #ececec;
$dark-gray: #454545;

$light-purple: #edbfff;
$medium-purple: #403348;
$dark-purple: #2b2231;

@mixin purple-gradient {
  background: linear-gradient(#745083, #322539);
}
