@mixin white-shadow {
  color: white;
  text-shadow: .05rem .05rem .2rem #505050;
}

$light-gray: #b9b9b9;
$medium-gray: #787878;
$dark-gray: #454545;

$light-purple: #edbfff;

@mixin purple-gradient {
  background: linear-gradient(#745083, #322539);
}
