@import "media.scss";
@import "typography.scss";
@import "color-map.scss";
[class*="wrapper"] {
  display: flex;
  justify-content: center;
}
[class*="box"] {
  display: flex;
  flex-direction: column;
}

header {
  max-width: 961px;
  background: url("../img/bg.png") -65rem 0 no-repeat;
  height: 32.3rem;
  width:100%;
  @include white-shadow;
  padding-top: 4.9rem;
  @media #{$mobile} {
    height: 34.37rem;
  }
  @media #{$tablet} {
    background: url("../img/bg.png") -50rem 0 no-repeat;
    padding-top: 4rem;
  }
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21rem;
  @media #{$tablet} {
    display: flex;
    align-items: flex-start;
    padding: 0 1.25rem;
  }
  @media #{$desktop} {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    height: 2.3rem;
    width: 9.5rem;
    background: url("../img/logo.png") no-repeat;
    margin-bottom: 2.5rem;
  }
}
.wrapper-menu {
  height: 16.1rem;
  width: 15.3rem;
  @media (max-width: 767px) and (min-width: 320px) {
  &:hover {
    border: .1rem solid $dark-purple;
    border-radius: 1rem;
    background: $medium-purple;
    opacity: .9;
    z-index: 5;
  }
}
  @media #{$tablet} {
    width: 80%;
  }
  @media #{$desktop} {
    width: 70%;
  }
  .home {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    @include white-shadow;
    width: 2.94rem;
    text-align: center;
    margin: .7rem 0;
    @media #{$tablet} {
      width: 100%;
      text-align: left;
    }
    }
  .submenu {
    position: absolute;
    display: none;
    top: 1.9rem;
    width: auto;
    left: -6rem;
    padding: 0.3rem 0;
    @media #{$tablet} {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: -0.9rem;
      left: 6rem;
    }
    @media #{$desktop} {
      width: 85%;
    }
    li {
      display: block;
      text-align: center;
      width: 15.3rem;
      padding: .2rem 0;
      border-top: .01rem solid #503d58;
      border-bottom: .01rem solid $dark-purple;
      @media #{$tablet} {
        border: none;
        width: auto;
      }
      @media (max-width: 767px) and (min-width: 320px) {
      &:hover {
        background: $dark-purple;
        border-bottom: .01rem solid $light-purple;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    a {
      display: block;
      padding: .2rem;
    }
  }
  }
@media (max-width: 767px) and (min-width: 320px) {
 .home a:hover {
   display: block;
 }
 .home:hover .submenu {
   display: block;
 }
 }
}
.transparent-container {
  display: none;
  @media #{$mobile} {
    display: block;
    position: absolute;
    top: 14rem;
    height: 15.38rem;
    width: 100%;
    background: $dark-gray;
    opacity: .3;
    z-index: 1;
  }
}
article {
    z-index: 1;
    width: 13rem;
    align-items: center;
    @media #{$mobile} {
      align-items: flex-start;
    }
    @media #{$tablet} {
      width: 15rem;
      overflow: hidden;
      height: 9rem;
    }
    @media #{$desktop} {
      width: 60%;
    }
  h3 {
    color: $light-purple;
    text-shadow: .1rem .1rem .2rem gray;
  }
  .text {
    display: none;
  @media #{$tablet} {
    display: block;
    line-height: 1.5rem;
  }
  }
}
.cell-phone {
  display: none;
  @media #{$mobile} {
    display: block;
    position: relative;
    top: -7rem;
    z-index: 1;
  }
  @media #{$tablet} {
    top: -6rem;
  }
  @media #{$desktop} {
    top: -4rem;
  }
}
.cell {
  display: flex;
  justify-content: center;
  position: relative;
  top: -8rem;
  @media #{$tablet} {
    justify-content: space-around;
  }
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  top: -5.5rem;
  .arrow1 {
    width: 1.38rem;
    height: 2.06rem;
    background: url("../img/sprite.png") 0 0 no-repeat;
  }
  .arrow2 {
    width: 1.38rem;
    height: 2.06rem;
    background: url("../img/sprite.png") -5rem 0 no-repeat;
  }
  @media #{$desktop} {
    display: none;
  }
}
.wrapper-bullets {
  @media #{$mobile} {
    margin-top: -11rem;
  }
}
.bullets {
  height: .68rem;
  width: .68rem;
  background-color: white;
  border-radius: .5rem;
  border: .13rem solid gray;
  margin: .2rem;
}
