@import "media.scss";
@import "typography.scss";
@import "color-map.scss";
@import "header.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}
[class*="wrapper"] {
  display: flex;
  justify-content: center;
}
[class*="box"] {
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.wrapper-purple {
  display: flex;
  flex-flow: column wrap;
  height: 37.37rem;
  width: 100%;
  @include purple-gradient;
  border-top: .1rem solid #322539;
  border-bottom: .1rem solid #322539;
  @include white-shadow;
}
.item {
  display: flex;
  padding: 1.37rem;
  [class*="icon"] {
    height: 1.56rem;
    width: 1.56rem;
    padding: .3rem;
  }
  .icon-tool {
    background: url('../img/sprite.png') -14.21rem 0 no-repeat;
  }
  .icon-talk {
    background: url('../img/sprite.png') -11.19rem 0 no-repeat;
  }
  .icon-music {
    background: url('../img/sprite.png') -8rem 0 no-repeat;
  }
  .article-box {
    padding: .7rem;
    width: 100%;
    a {
      @include white-shadow;
      padding: .8rem .1rem;
      align-self: flex-end;
    &:hover {
      text-shadow: 0 0 .5rem white;
    }
    }
    p {
      line-height: 1.3rem;
      width: 100%;
      padding-top: .3rem;
    }
  }
}
.box-light-gray {
  height: 74rem;
  width: 100%;
  background: $light-gray;
  border-top: .01rem solid white;
  &::before {
    display: block;
    content: '';
    height: .6rem;
    width: 100%;
    background: linear-gradient(#c7c7c7, $light-gray);
  }
}
.slider-small {
  .talking-area {
    position: relative;
    height: 14rem;
    width: 70%;
    background: white;
    border-bottom: .01rem solid #efefef;
    padding: 1.75rem 2.5rem 2rem 2.06rem;
    margin: 2.5rem;
    p {
      line-height: 1.5rem;
      width: 100%;
      padding-top: .3rem;
    }
  }
  .title {
    @media #{$mobile} {
      display: flex;
      flex-direction: row;
    }
  }
  .dark-gray {
    text-transform: uppercase;
    color: $dark-gray;
  }
  .light-purple {
    text-transform: uppercase;
    color: $light-purple;
    @media #{$mobile} {
      padding-left: .5rem;
    }
  }
}
.icon-round {
  position: relative;
  z-index: 3;
  top: 7rem;
  left: 1.25rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background: url('../img/sprite.png') -21.75rem 0   no-repeat;
}
.wrapper-bullets-small {
  margin-top: 1.5rem;
}
.box-updates {
  margin-top: 3.06rem;
  padding-left: 3.75rem;
  h1 {
    margin-left: 1.25rem;
  }
  article {
    margin-top: 1.25rem;
    height: 3.13rem;
    position: relative;
    .bold {
      font-weight: bold;
    }
    p {
      padding-left: 5rem;
    }
  }
  a {
    color: $dark-gray;
    align-self: flex-end;
    padding: 1.4rem;
  }
}
.icon-round1 {
  @extend .icon-round;
  top: 2.6rem;
}
.wrapper-sponsores {
  flex-wrap: wrap;
  border-top: .01rem solid $medium-gray;
  height: 14.5rem;
  padding: 4.1rem;
  [class*="sponsor"] {
    height: 4rem;
    width: 6.63rem;
    margin: .3rem;
  }
  .sponsor1 {
    background: url('../img/sprite.png') -405px 0 no-repeat;
  }
  .sponsor2 {
    background: url('../img/sprite.png') -538px 0 no-repeat;
  }
  .sponsor3 {
    background: url('../img/sprite.png') -675px 0 no-repeat;
  }
  .sponsor4 {
    background: url('../img/sprite.png') -810px 0 no-repeat;
  }
  .sponsor5 {
    background: url('../img/sprite.png') -932px 0 no-repeat;
  }
  .sponsor6 {
    background: url('../img/sprite.png') -1100px 0 no-repeat;
  }
}
.box-medium-gray {
  display: none;
  @media #{$mobile} {
    display: block;
    display: flex;
    justify-content: space-around;
    height: 41.7rem;
    width: 100%;
    background: $medium-gray;
    p {
      line-height: 1.3rem;
      width: 100%;
      padding-top: .3rem;
    }
  }
}
footer {
  height: 12.5rem;
  background: url('../img/bg-footer.png') -978px 0 no-repeat;
  align-items: center;
  justify-content: center;
  .menu-footer {
    display: none;
    @media #{$mobile} {
    width: 90%;
    display: flex;
    justify-content: space-around;
    li {
      text-transform: uppercase;
      @include white-shadow;
      width: auto;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
  .tm {
    font-size: .75rem;
    @include white-shadow;
    margin-top: 2.6rem;
    .tm-bold {
      font-weight: bold;
    }
  }
}
