@import "media.scss";
@import "typography.scss";
@import "color-map.scss";
@import "header.scss";

.container {
  min-height: 100vh;
}
[class*="wrapper"] {
  display: flex;
  justify-content: center;
}
[class*="box"] {
  display: flex;
  flex-direction: column;
}
main {
  max-width: 961px;
}
.wrapper-purple {
  flex-flow: column wrap;
  @include purple-gradient;
  border-top: 0.1rem solid #322539;
  border-bottom: 0.1rem solid #322539;
  @include white-shadow;
  padding: 4.9rem 1.25rem;
  @media #{$tablet} {
    flex-flow: row;
  }
}
.item {
  display: flex;
  [class*="icon"] {
    height: 2rem;
    width: 4rem;
    padding: 0.3rem;
    margin: 0.5rem;
    @media (max-width: 420px) and (min-width: 330px) {
      width: 3rem;
  }
    @media (max-width: 768px) and (min-width: 421px) {
      width: 2rem;
  }
  @media (max-width: 768px) and (min-width: 570px) {
    width: 1.5rem;
}
}
  .icon-tool {
    background: url('../img/sprite.png') -14.21rem 0 no-repeat;
  }
  .icon-talk {
    background: url('../img/sprite.png') -11.19rem 0 no-repeat;
  }
  .icon-music {
    background: url('../img/sprite.png') -8rem 0 no-repeat;
  }
  .article-box {
    padding: 0.7rem;
    a {
      @include white-shadow;
      padding: 0.8rem 0.1rem;
      align-self: flex-end;
    &:hover {
      text-shadow: 0 0 0.5rem white;
    }
    }
    p {
      line-height: 1.3rem;
      padding-top: 0.3rem;
    }
  }
}
.light-gray {
  display: flex;
  flex-direction: column;
  padding: 4.3rem 1.25rem;
  background: $light-gray;
  border-top: .01rem solid white;
  border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
  @media #{$tablet} {
    flex-direction: row;
    justify-content: space-around;
    padding: 6.25rem 1.25rem;
  }
  // &::before {
  //   display: block;
  //   content: '';
  //   height: 0.6rem;
  //   width: 100%;
  //   background: linear-gradient(#c7c7c7, $light-gray);
  // }
}
.slider-small {
  @media #{$tablet} {
  width: 50%;
}
  .talking-area {
    position: relative;
    width: 80%;
    background: white;
    border-bottom: .01rem solid #efefef;
    padding: 1.75rem 1.25rem 2rem 2.06rem;
    margin-left: 1.25rem;
    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 25px solid transparent;
      border-right: 25px solid green;
      bottom: -25px;
      right: 2rem;

    }
    @media #{$tablet} {
    width: 70%;
  }
    p {
      line-height: 1.5rem;
      padding-top: .3rem;
    }
  }
  .title {
    @media #{$mobile} {
      display: flex;
      flex-direction: row;
    }
  }
  .dark-gray {
    text-transform: uppercase;
    color: $dark-gray;
  }
  .light-purple {
    text-transform: uppercase;
    color: $light-purple;
    @media #{$mobile} {
      padding-left: .5rem;
    }
  }
}
.icon-round {
  position: relative;
  z-index: 3;
  top: 4rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background: url('../img/sprite.png') -21.75rem 0   no-repeat;
}
.wrapper-bullets-small {
  margin-top: 1.5rem;
}
.box-updates {
  margin-top: 3.06rem;
  @media #{$mobile} {
  padding-left: 3.75rem;
}
@media #{$tablet} {
  width: 45%;
}
  h1 {
    margin-left: 1.25rem;
  }
  .updates-list {
    margin-top: 1.5rem;
  }
  .updates-item {
    margin-bottom: 1.25rem;
    display: flex;
    .title-bold {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    p {
      padding-left: 0.5rem;
    }
  }
  a {
    color: $dark-gray;
    align-self: flex-end;
    padding: 1.4rem;
  }
}
.icon-round1 {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background: url('../img/sprite.png') -21.75rem 0   no-repeat;
}
.wrapper-sponsores {
  flex-wrap: wrap;
  background: $light-gray;
  border-top: .01rem solid $medium-gray;
  padding: 3.3rem 1.25rem;
  [class*="sponsor"] {
    height: 4rem;
    width: 6.63rem;
    margin: 0.4rem;
  }
  .sponsor1 {
    background: url('../img/sprite.png') -405px 0 no-repeat;
  }
  .sponsor2 {
    background: url('../img/sprite.png') -538px 0 no-repeat;
  }
  .sponsor3 {
    background: url('../img/sprite.png') -675px 0 no-repeat;
  }
  .sponsor4 {
    background: url('../img/sprite.png') -810px 0 no-repeat;
  }
  .sponsor5 {
    background: url('../img/sprite.png') -932px 0 no-repeat;
  }
  .sponsor6 {
    background: url('../img/sprite.png') -1100px 0 no-repeat;
  }
}
.box-medium-gray {
  display: none;
  .logo-monochrome {
    display: none;
  }
  .copyright {
    display: none;
  }
  @media #{$mobile} {
    display: flex;
    flex-direction: column;
    background: $medium-gray;
    padding: 5rem 1.25rem;
    .box-item-news:not(:first-child) {
      margin-top: 3.9rem;
      @media #{$tablet} {
        margin-top: 0;
        margin-left: 3rem;
      }
    }
    p {
      line-height: 1.3rem;
      padding-top: .3rem;
    }
  }
  @media #{$tablet} {
    flex-flow: row;
    padding: 3rem;
  }
  @media #{$desktop} {
    .box-item-news:first-child {
      .logo-monochrome {
        display: block;
        height: 2.32rem;
        width: 8.4rem;
        background: url('../img/logo-mh.png');
      }
      .copyright {
        display: block;
        font-style: italic;
        color: $dark-gray;
        font-size: 0.7rem;
      }
      h2 {
        display: none;
      }
      .news {
        overflow: hidden;
        height: 5rem;
      }
    }
  }
}
footer {
  max-width: 961px;
  background: url('../img/bg-footer.png') -978px 0 no-repeat;
  align-items: center;
  justify-content: center;
  padding: 2.9rem 1.25rem;
  .menu-footer {
    display: none;
    @media #{$mobile} {
    width: 90%;
    display: flex;
    justify-content: space-around;
    li {
      text-transform: uppercase;
      @include white-shadow;
      width: auto;
      text-align: center;
      font-size: 1.2rem;
    }
  }
    @media #{$tablet} {
      width: 60%;
      align-self: flex-start;
    }
}
  .trademark {
    font-size: .75rem;
    @include white-shadow;
    margin-top: 2.6rem;
    .trademark-bold {
      font-weight: bold;
    }
    @media #{$tablet} {
      align-self: flex-end;
    }
  }
}
