
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: "LeagueGothicRegular";
}

p {
  font-family: "OpenSansLight";
}

h2, a, li, ul {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

[class*="wrapper"] {
  display: flex;
  justify-content: center;
}

[class*="box"] {
  display: flex;
  flex-direction: column;
}

header {
  max-width: 961px;
  background: url("../img/bg.png") -65rem 0 no-repeat;
  height: 32.3rem;
  width: 100%;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  padding-top: 4.9rem;
}

@media (min-width: 480px) {
  header {
    height: 34.37rem;
  }
}

@media (min-width: 768px) {
  header {
    background: url("../img/bg.png") -50rem 0 no-repeat;
    padding-top: 4rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21rem;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    padding: 0 1.25rem;
  }
}

@media (min-width: 960px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navbar .logo {
  height: 2.3rem;
  width: 9.5rem;
  background: url("../img/logo.png") no-repeat;
  margin-bottom: 2.5rem;
}

.wrapper-menu {
  height: 16.1rem;
  width: 15.3rem;
}

@media (max-width: 767px) and (min-width: 320px) {
  .wrapper-menu:hover {
    border: 0.1rem solid #2b2231;
    border-radius: 1rem;
    background: #403348;
    opacity: .9;
    z-index: 5;
  }
}

@media (min-width: 768px) {
  .wrapper-menu {
    width: 80%;
  }
}

@media (min-width: 960px) {
  .wrapper-menu {
    width: 70%;
  }
}

.wrapper-menu .home {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  width: 2.94rem;
  text-align: center;
  margin: .7rem 0;
}

@media (min-width: 768px) {
  .wrapper-menu .home {
    width: 100%;
    text-align: left;
  }
}

.wrapper-menu .submenu {
  position: absolute;
  display: none;
  top: 1.9rem;
  width: auto;
  left: -6rem;
  padding: 0.3rem 0;
}

@media (min-width: 768px) {
  .wrapper-menu .submenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -0.9rem;
    left: 6rem;
  }
}

@media (min-width: 960px) {
  .wrapper-menu .submenu {
    width: 85%;
  }
}

.wrapper-menu .submenu li {
  display: block;
  text-align: center;
  width: 15.3rem;
  padding: .2rem 0;
  border-top: .01rem solid #503d58;
  border-bottom: 0.01rem solid #2b2231;
}

@media (min-width: 768px) {
  .wrapper-menu .submenu li {
    border: none;
    width: auto;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .wrapper-menu .submenu li:hover {
    background: #2b2231;
    border-bottom: 0.01rem solid #edbfff;
  }
  .wrapper-menu .submenu li:last-child {
    border-bottom: none;
  }
}

.wrapper-menu .submenu li a {
  display: block;
  padding: .2rem;
}

@media (max-width: 767px) and (min-width: 320px) {
  .wrapper-menu .home a:hover {
    display: block;
  }
  .wrapper-menu .home:hover .submenu {
    display: block;
  }
}

.transparent-container {
  display: none;
}

@media (min-width: 480px) {
  .transparent-container {
    display: block;
    position: absolute;
    top: 14rem;
    height: 15.38rem;
    width: 100%;
    background: #454545;
    opacity: .3;
    z-index: 1;
  }
}

article {
  z-index: 1;
  width: 13rem;
  align-items: center;
}

@media (min-width: 480px) {
  article {
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  article {
    width: 15rem;
    overflow: hidden;
    height: 9rem;
  }
}

@media (min-width: 960px) {
  article {
    width: 60%;
  }
}

article h3 {
  color: #edbfff;
  text-shadow: .1rem .1rem .2rem gray;
}

article .text {
  display: none;
}

@media (min-width: 768px) {
  article .text {
    display: block;
    line-height: 1.5rem;
  }
}

.cell-phone {
  display: none;
}

@media (min-width: 480px) {
  .cell-phone {
    display: block;
    position: relative;
    top: -7rem;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .cell-phone {
    top: -6rem;
  }
}

@media (min-width: 960px) {
  .cell-phone {
    top: -4rem;
  }
}

.cell {
  display: flex;
  justify-content: center;
  position: relative;
  top: -8rem;
}

@media (min-width: 768px) {
  .cell {
    justify-content: space-around;
  }
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  top: -5.5rem;
}

.arrows .arrow1 {
  width: 1.38rem;
  height: 2.06rem;
  background: url("../img/sprite.png") 0 0 no-repeat;
}

.arrows .arrow2 {
  width: 1.38rem;
  height: 2.06rem;
  background: url("../img/sprite.png") -5rem 0 no-repeat;
}

@media (min-width: 960px) {
  .arrows {
    display: none;
  }
}

@media (min-width: 480px) {
  .wrapper-bullets {
    margin-top: -11rem;
  }
}

.bullets {
  height: .68rem;
  width: .68rem;
  background-color: white;
  border-radius: .5rem;
  border: .13rem solid gray;
  margin: .2rem;
}


@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: "LeagueGothicRegular";
}

p {
  font-family: "OpenSansLight";
}

h2, a, li, ul {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: "LeagueGothicRegular";
}

p {
  font-family: "OpenSansLight";
}

h2, a, li, ul {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

[class*="wrapper"] {
  display: flex;
  justify-content: center;
}

[class*="box"] {
  display: flex;
  flex-direction: column;
}

header {
  max-width: 961px;
  background: url("../img/bg.png") -65rem 0 no-repeat;
  height: 32.3rem;
  width: 100%;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  padding-top: 4.9rem;
}

@media (min-width: 480px) {
  header {
    height: 34.37rem;
  }
}

@media (min-width: 768px) {
  header {
    background: url("../img/bg.png") -50rem 0 no-repeat;
    padding-top: 4rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21rem;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    padding: 0 1.25rem;
  }
}

@media (min-width: 960px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navbar .logo {
  height: 2.3rem;
  width: 9.5rem;
  background: url("../img/logo.png") no-repeat;
  margin-bottom: 2.5rem;
}

.wrapper-menu {
  height: 16.1rem;
  width: 15.3rem;
}

@media (max-width: 767px) and (min-width: 320px) {
  .wrapper-menu:hover {
    border: 0.1rem solid #2b2231;
    border-radius: 1rem;
    background: #403348;
    opacity: .9;
    z-index: 5;
  }
}

@media (min-width: 768px) {
  .wrapper-menu {
    width: 80%;
  }
}

@media (min-width: 960px) {
  .wrapper-menu {
    width: 70%;
  }
}

.wrapper-menu .home {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  width: 2.94rem;
  text-align: center;
  margin: .7rem 0;
}

@media (min-width: 768px) {
  .wrapper-menu .home {
    width: 100%;
    text-align: left;
  }
}

.wrapper-menu .submenu {
  position: absolute;
  display: none;
  top: 1.9rem;
  width: auto;
  left: -6rem;
  padding: 0.3rem 0;
}

@media (min-width: 768px) {
  .wrapper-menu .submenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -0.9rem;
    left: 6rem;
  }
}

@media (min-width: 960px) {
  .wrapper-menu .submenu {
    width: 85%;
  }
}

.wrapper-menu .submenu li {
  display: block;
  text-align: center;
  width: 15.3rem;
  padding: .2rem 0;
  border-top: .01rem solid #503d58;
  border-bottom: 0.01rem solid #2b2231;
}

@media (min-width: 768px) {
  .wrapper-menu .submenu li {
    border: none;
    width: auto;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .wrapper-menu .submenu li:hover {
    background: #2b2231;
    border-bottom: 0.01rem solid #edbfff;
  }
  .wrapper-menu .submenu li:last-child {
    border-bottom: none;
  }
}

.wrapper-menu .submenu li a {
  display: block;
  padding: .2rem;
}

@media (max-width: 767px) and (min-width: 320px) {
  .wrapper-menu .home a:hover {
    display: block;
  }
  .wrapper-menu .home:hover .submenu {
    display: block;
  }
}

.transparent-container {
  display: none;
}

@media (min-width: 480px) {
  .transparent-container {
    display: block;
    position: absolute;
    top: 14rem;
    height: 15.38rem;
    width: 100%;
    background: #454545;
    opacity: .3;
    z-index: 1;
  }
}

article {
  z-index: 1;
  width: 13rem;
  align-items: center;
}

@media (min-width: 480px) {
  article {
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  article {
    width: 15rem;
    overflow: hidden;
    height: 9rem;
  }
}

@media (min-width: 960px) {
  article {
    width: 60%;
  }
}

article h3 {
  color: #edbfff;
  text-shadow: .1rem .1rem .2rem gray;
}

article .text {
  display: none;
}

@media (min-width: 768px) {
  article .text {
    display: block;
    line-height: 1.5rem;
  }
}

.cell-phone {
  display: none;
}

@media (min-width: 480px) {
  .cell-phone {
    display: block;
    position: relative;
    top: -7rem;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .cell-phone {
    top: -6rem;
  }
}

@media (min-width: 960px) {
  .cell-phone {
    top: -4rem;
  }
}

.cell {
  display: flex;
  justify-content: center;
  position: relative;
  top: -8rem;
}

@media (min-width: 768px) {
  .cell {
    justify-content: space-around;
  }
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  top: -5.5rem;
}

.arrows .arrow1 {
  width: 1.38rem;
  height: 2.06rem;
  background: url("../img/sprite.png") 0 0 no-repeat;
}

.arrows .arrow2 {
  width: 1.38rem;
  height: 2.06rem;
  background: url("../img/sprite.png") -5rem 0 no-repeat;
}

@media (min-width: 960px) {
  .arrows {
    display: none;
  }
}

@media (min-width: 480px) {
  .wrapper-bullets {
    margin-top: -11rem;
  }
}

.bullets {
  height: .68rem;
  width: .68rem;
  background-color: white;
  border-radius: .5rem;
  border: .13rem solid gray;
  margin: .2rem;
}

.container {
  min-height: 100vh;
}

[class*="wrapper"] {
  display: flex;
  justify-content: center;
}

[class*="box"] {
  display: flex;
  flex-direction: column;
}

main {
  max-width: 961px;
}

.wrapper-purple {
  flex-flow: column wrap;
  background: linear-gradient(#745083, #322539);
  border-top: 0.1rem solid #322539;
  border-bottom: 0.1rem solid #322539;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  padding: 4.9rem 1.25rem;
}

@media (min-width: 768px) {
  .wrapper-purple {
    flex-flow: row;
  }
}

.item {
  display: flex;
}

.item [class*="icon"] {
  height: 2rem;
  width: 4rem;
  padding: 0.3rem;
  margin: 0.5rem;
}

@media (max-width: 420px) and (min-width: 330px) {
  .item [class*="icon"] {
    width: 3rem;
  }
}

@media (max-width: 768px) and (min-width: 421px) {
  .item [class*="icon"] {
    width: 2rem;
  }
}

@media (max-width: 768px) and (min-width: 570px) {
  .item [class*="icon"] {
    width: 1.5rem;
  }
}

.item .icon-tool {
  background: url("../img/sprite.png") -14.21rem 0 no-repeat;
}

.item .icon-talk {
  background: url("../img/sprite.png") -11.19rem 0 no-repeat;
}

.item .icon-music {
  background: url("../img/sprite.png") -8rem 0 no-repeat;
}

.item .article-box {
  padding: 0.7rem;
}

.item .article-box a {
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  padding: 0.8rem 0.1rem;
  align-self: flex-end;
}

.item .article-box a:hover {
  text-shadow: 0 0 0.5rem white;
}

.item .article-box p {
  line-height: 1.3rem;
  padding-top: 0.3rem;
}

.light-gray {
  display: flex;
  flex-direction: column;
  padding: 4.3rem 1.25rem;
  background: #f9f9f9;
  border-top: .01rem solid white;
  border-image: linear-gradient(to bottom, black, transparent) 1 100%;
}

@media (min-width: 768px) {
  .light-gray {
    flex-direction: row;
    justify-content: space-around;
    padding: 6.25rem 1.25rem;
  }
}

@media (min-width: 768px) {
  .slider-small {
    width: 50%;
  }
}

.slider-small .talking-area {
  position: relative;
  width: 80%;
  background: white;
  border-bottom: .01rem solid #efefef;
  padding: 1.75rem 1.25rem 2rem 2.06rem;
  margin-left: 1.25rem;
}

.slider-small .talking-area::after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 25px solid transparent;
  border-right: 25px solid green;
  bottom: -25px;
  right: 2rem;
}

@media (min-width: 768px) {
  .slider-small .talking-area {
    width: 70%;
  }
}

.slider-small .talking-area p {
  line-height: 1.5rem;
  padding-top: .3rem;
}

@media (min-width: 480px) {
  .slider-small .title {
    display: flex;
    flex-direction: row;
  }
}

.slider-small .dark-gray {
  text-transform: uppercase;
  color: #454545;
}

.slider-small .light-purple {
  text-transform: uppercase;
  color: #edbfff;
}

@media (min-width: 480px) {
  .slider-small .light-purple {
    padding-left: .5rem;
  }
}

.icon-round {
  position: relative;
  z-index: 3;
  top: 4rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background: url("../img/sprite.png") -21.75rem 0 no-repeat;
}

.wrapper-bullets-small {
  margin-top: 1.5rem;
}

.box-updates {
  margin-top: 3.06rem;
}

@media (min-width: 480px) {
  .box-updates {
    padding-left: 3.75rem;
  }
}

@media (min-width: 768px) {
  .box-updates {
    width: 45%;
  }
}

.box-updates h1 {
  margin-left: 1.25rem;
}

.box-updates .updates-list {
  margin-top: 1.5rem;
}

.box-updates .updates-item {
  margin-bottom: 1.25rem;
  display: flex;
}

.box-updates .updates-item .title-bold {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.box-updates .updates-item p {
  padding-left: 0.5rem;
}

.box-updates a {
  color: #454545;
  align-self: flex-end;
  padding: 1.4rem;
}

.icon-round1 {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background: url("../img/sprite.png") -21.75rem 0 no-repeat;
}

.wrapper-sponsores {
  flex-wrap: wrap;
  background: #f9f9f9;
  border-top: 0.01rem solid #ececec;
  padding: 3.3rem 1.25rem;
}

.wrapper-sponsores [class*="sponsor"] {
  height: 4rem;
  width: 6.63rem;
  margin: 0.4rem;
}

.wrapper-sponsores .sponsor1 {
  background: url("../img/sprite.png") -405px 0 no-repeat;
}

.wrapper-sponsores .sponsor2 {
  background: url("../img/sprite.png") -538px 0 no-repeat;
}

.wrapper-sponsores .sponsor3 {
  background: url("../img/sprite.png") -675px 0 no-repeat;
}

.wrapper-sponsores .sponsor4 {
  background: url("../img/sprite.png") -810px 0 no-repeat;
}

.wrapper-sponsores .sponsor5 {
  background: url("../img/sprite.png") -932px 0 no-repeat;
}

.wrapper-sponsores .sponsor6 {
  background: url("../img/sprite.png") -1100px 0 no-repeat;
}

.box-medium-gray {
  display: none;
}

.box-medium-gray .logo-monochrome {
  display: none;
}

.box-medium-gray .copyright {
  display: none;
}

@media (min-width: 480px) {
  .box-medium-gray {
    display: flex;
    flex-direction: column;
    background: #ececec;
    padding: 5rem 1.25rem;
  }
  .box-medium-gray .box-item-news:not(:first-child) {
    margin-top: 3.9rem;
  }
}

@media (min-width: 480px) and (min-width: 768px) {
  .box-medium-gray .box-item-news:not(:first-child) {
    margin-top: 0;
    margin-left: 3rem;
  }
}

@media (min-width: 480px) {
  .box-medium-gray p {
    line-height: 1.3rem;
    padding-top: .3rem;
  }
}

@media (min-width: 768px) {
  .box-medium-gray {
    flex-flow: row;
    padding: 3rem;
  }
}

@media (min-width: 960px) {
  .box-medium-gray .box-item-news:first-child .logo-monochrome {
    display: block;
    height: 2.32rem;
    width: 8.4rem;
    background: url("../img/logo-mh.png");
  }
  .box-medium-gray .box-item-news:first-child .copyright {
    display: block;
    font-style: italic;
    color: #454545;
    font-size: 0.7rem;
  }
  .box-medium-gray .box-item-news:first-child h2 {
    display: none;
  }
  .box-medium-gray .box-item-news:first-child .news {
    overflow: hidden;
    height: 5rem;
  }
}

footer {
  max-width: 961px;
  background: url("../img/bg-footer.png") -978px 0 no-repeat;
  align-items: center;
  justify-content: center;
  padding: 2.9rem 1.25rem;
}

footer .menu-footer {
  display: none;
}

@media (min-width: 480px) {
  footer .menu-footer {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  footer .menu-footer li {
    text-transform: uppercase;
    color: white;
    text-shadow: 0.05rem 0.05rem 0.2rem #454545;
    width: auto;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  footer .menu-footer {
    width: 60%;
    align-self: flex-start;
  }
}

footer .trademark {
  font-size: .75rem;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  margin-top: 2.6rem;
}

footer .trademark .trademark-bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  footer .trademark {
    align-self: flex-end;
  }
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: "LeagueGothicRegular";
}

p {
  font-family: "OpenSansLight";
}

h2, a, li, ul {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}
