
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: "LeagueGothicRegular";
}

p {
  font-family: "OpenSansLight";
}

h2, a, li, ul {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

[class*="wrapper"] {
  display: flex;
  justify-content: center;
}

[class*="box"] {
  display: flex;
  flex-direction: column;
}

header {
  background: url("../img/bg.png") -65rem 0 no-repeat;
  height: 32.3rem;
  width: 100%;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  padding-top: 4.9rem;
}

@media (min-width: 480px) {
  header {
    height: 34.37rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21rem;
}

.navbar .logo {
  height: 2.3rem;
  width: 9.5rem;
  background: url("../img/logo.png") no-repeat;
  margin-bottom: 2.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  height: 16.1rem;
  width: 15.3rem;
}

.menu::before {
  content: '';
  position: absolute;
  margin-top: .01rem;
  width: .13rem;
  height: .01rem;
  color: #edbfff;
}

.menu:hover {
  border: 0.1rem solid #2b2231;
  border-radius: 1rem;
  background: #403348;
  opacity: .9;
  z-index: 5;
}

.menu .home {
  display: block;
  position: relative;
  text-transform: uppercase;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  width: 3.4rem;
  text-align: center;
  margin: .7rem 0;
}

.menu .submenu {
  position: absolute;
  display: none;
  top: 1.9rem;
  width: auto;
  left: -6rem;
  padding: .3rem 0;
}

.menu .submenu li {
  display: block;
  text-align: center;
  width: 15.3rem;
  padding: .2rem 0;
  border-top: .01rem solid #503d58;
  border-bottom: 0.01rem solid #2b2231;
}

.menu .submenu li:hover {
  background: #2b2231;
  border-bottom: 0.01rem solid #edbfff;
}

.menu .submenu li:last-child {
  border-bottom: none;
}

.menu .submenu a {
  display: block;
  padding: .2rem;
}

.menu .home a:hover {
  display: block;
}

.menu .home:hover .submenu {
  display: block;
}

.transparent-container {
  display: none;
}

@media (min-width: 480px) {
  .transparent-container {
    display: block;
    position: absolute;
    top: 14rem;
    height: 15.38rem;
    width: 100%;
    background: #454545;
    opacity: .3;
    z-index: 1;
  }
}

article {
  z-index: 1;
}

article h3 {
  color: #edbfff;
  text-shadow: .1rem .1rem .2rem gray;
}

article .text {
  display: none;
}

@media (min-width: 768px) {
  article .text {
    display: block;
    width: 16.9rem;
  }
}

.cell {
  display: none;
}

@media (min-width: 480px) {
  .cell {
    display: block;
    position: relative;
    top: -7rem;
    z-index: 1;
  }
}

.wrapper-cell {
  position: relative;
  top: -8rem;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  top: -5.5rem;
}

.arrows .arrow1 {
  width: 1.38rem;
  height: 2.06rem;
  background: url("../img/sprite.png") 0 0 no-repeat;
}

.arrows .arrow2 {
  width: 1.38rem;
  height: 2.06rem;
  background: url("../img/sprite.png") -5rem 0 no-repeat;
}

.wrapper-bullets {
  margin-top: 4.9rem;
}

@media (min-width: 480px) {
  .wrapper-bullets {
    margin-top: -11rem;
  }
}

.bullets {
  height: .68rem;
  width: .68rem;
  background-color: white;
  border-radius: .5rem;
  border: .13rem solid gray;
  margin: .2rem;
}


@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: "LeagueGothicRegular";
}

p {
  font-family: "OpenSansLight";
}

h2, a, li, ul {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: "LeagueGothicRegular";
}

p {
  font-family: "OpenSansLight";
}

h2, a, li, ul {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

[class*="wrapper"] {
  display: flex;
  justify-content: center;
}

[class*="box"] {
  display: flex;
  flex-direction: column;
}

header {
  background: url("../img/bg.png") -65rem 0 no-repeat;
  height: 32.3rem;
  width: 100%;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  padding-top: 4.9rem;
}

@media (min-width: 480px) {
  header {
    height: 34.37rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21rem;
}

.navbar .logo {
  height: 2.3rem;
  width: 9.5rem;
  background: url("../img/logo.png") no-repeat;
  margin-bottom: 2.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  height: 16.1rem;
  width: 15.3rem;
}

.menu::before {
  content: '';
  position: absolute;
  margin-top: .01rem;
  width: .13rem;
  height: .01rem;
  color: #edbfff;
}

.menu:hover {
  border: 0.1rem solid #2b2231;
  border-radius: 1rem;
  background: #403348;
  opacity: .9;
  z-index: 5;
}

.menu .home {
  display: block;
  position: relative;
  text-transform: uppercase;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  width: 3.4rem;
  text-align: center;
  margin: .7rem 0;
}

.menu .submenu {
  position: absolute;
  display: none;
  top: 1.9rem;
  width: auto;
  left: -6rem;
  padding: .3rem 0;
}

.menu .submenu li {
  display: block;
  text-align: center;
  width: 15.3rem;
  padding: .2rem 0;
  border-top: .01rem solid #503d58;
  border-bottom: 0.01rem solid #2b2231;
}

.menu .submenu li:hover {
  background: #2b2231;
  border-bottom: 0.01rem solid #edbfff;
}

.menu .submenu li:last-child {
  border-bottom: none;
}

.menu .submenu a {
  display: block;
  padding: .2rem;
}

.menu .home a:hover {
  display: block;
}

.menu .home:hover .submenu {
  display: block;
}

.transparent-container {
  display: none;
}

@media (min-width: 480px) {
  .transparent-container {
    display: block;
    position: absolute;
    top: 14rem;
    height: 15.38rem;
    width: 100%;
    background: #454545;
    opacity: .3;
    z-index: 1;
  }
}

article {
  z-index: 1;
}

article h3 {
  color: #edbfff;
  text-shadow: .1rem .1rem .2rem gray;
}

article .text {
  display: none;
}

@media (min-width: 768px) {
  article .text {
    display: block;
    width: 16.9rem;
  }
}

.cell {
  display: none;
}

@media (min-width: 480px) {
  .cell {
    display: block;
    position: relative;
    top: -7rem;
    z-index: 1;
  }
}

.wrapper-cell {
  position: relative;
  top: -8rem;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  top: -5.5rem;
}

.arrows .arrow1 {
  width: 1.38rem;
  height: 2.06rem;
  background: url("../img/sprite.png") 0 0 no-repeat;
}

.arrows .arrow2 {
  width: 1.38rem;
  height: 2.06rem;
  background: url("../img/sprite.png") -5rem 0 no-repeat;
}

.wrapper-bullets {
  margin-top: 4.9rem;
}

@media (min-width: 480px) {
  .wrapper-bullets {
    margin-top: -11rem;
  }
}

.bullets {
  height: .68rem;
  width: .68rem;
  background-color: white;
  border-radius: .5rem;
  border: .13rem solid gray;
  margin: .2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

[class*="wrapper"] {
  display: flex;
  justify-content: center;
}

[class*="box"] {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.wrapper-purple {
  display: flex;
  flex-flow: column wrap;
  height: 37.37rem;
  width: 100%;
  background: linear-gradient(#745083, #322539);
  border-top: .1rem solid #322539;
  border-bottom: .1rem solid #322539;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
}

.item {
  display: flex;
  padding: 1.37rem;
}

.item [class*="icon"] {
  height: 1.56rem;
  width: 1.56rem;
  padding: .3rem;
}

.item .icon-tool {
  background: url("../img/sprite.png") -14.21rem 0 no-repeat;
}

.item .icon-talk {
  background: url("../img/sprite.png") -11.19rem 0 no-repeat;
}

.item .icon-music {
  background: url("../img/sprite.png") -8rem 0 no-repeat;
}

.item .article-box {
  padding: .7rem;
  width: 100%;
}

.item .article-box a {
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  padding: .8rem .1rem;
  align-self: flex-end;
}

.item .article-box a:hover {
  text-shadow: 0 0 .5rem white;
}

.item .article-box p {
  line-height: 1.3rem;
  width: 100%;
  padding-top: .3rem;
}

.box-light-gray {
  height: 74rem;
  width: 100%;
  background: #f9f9f9;
  border-top: .01rem solid white;
}

.box-light-gray::before {
  display: block;
  content: '';
  height: .6rem;
  width: 100%;
  background: linear-gradient(#c7c7c7, #f9f9f9);
}

.slider-small .talking-area {
  position: relative;
  height: 14rem;
  width: 70%;
  background: white;
  border-bottom: .01rem solid #efefef;
  padding: 1.75rem 2.5rem 2rem 2.06rem;
  margin: 2.5rem;
}

.slider-small .talking-area p {
  line-height: 1.5rem;
  width: 100%;
  padding-top: .3rem;
}

@media (min-width: 480px) {
  .slider-small .title {
    display: flex;
    flex-direction: row;
  }
}

.slider-small .dark-gray {
  text-transform: uppercase;
  color: #454545;
}

.slider-small .light-purple {
  text-transform: uppercase;
  color: #edbfff;
}

@media (min-width: 480px) {
  .slider-small .light-purple {
    padding-left: .5rem;
  }
}

.icon-round, .icon-round1 {
  position: relative;
  z-index: 3;
  top: 7rem;
  left: 1.25rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background: url("../img/sprite.png") -21.75rem 0 no-repeat;
}

.wrapper-bullets-small {
  margin-top: 1.5rem;
}

.box-updates {
  margin-top: 3.06rem;
  padding-left: 3.75rem;
}

.box-updates h1 {
  margin-left: 1.25rem;
}

.box-updates article {
  margin-top: 1.25rem;
  height: 3.13rem;
  position: relative;
}

.box-updates article .bold {
  font-weight: bold;
}

.box-updates article p {
  padding-left: 5rem;
}

.box-updates a {
  color: #454545;
  align-self: flex-end;
  padding: 1.4rem;
}

.icon-round1 {
  top: 2.6rem;
}

.wrapper-sponsores {
  flex-wrap: wrap;
  border-top: 0.01rem solid #ececec;
  height: 14.5rem;
  padding: 4.1rem;
}

.wrapper-sponsores [class*="sponsor"] {
  height: 4rem;
  width: 6.63rem;
  margin: .3rem;
}

.wrapper-sponsores .sponsor1 {
  background: url("../img/sprite.png") -405px 0 no-repeat;
}

.wrapper-sponsores .sponsor2 {
  background: url("../img/sprite.png") -538px 0 no-repeat;
}

.wrapper-sponsores .sponsor3 {
  background: url("../img/sprite.png") -675px 0 no-repeat;
}

.wrapper-sponsores .sponsor4 {
  background: url("../img/sprite.png") -810px 0 no-repeat;
}

.wrapper-sponsores .sponsor5 {
  background: url("../img/sprite.png") -932px 0 no-repeat;
}

.wrapper-sponsores .sponsor6 {
  background: url("../img/sprite.png") -1100px 0 no-repeat;
}

.box-medium-gray {
  display: none;
}

@media (min-width: 480px) {
  .box-medium-gray {
    display: block;
    display: flex;
    justify-content: space-around;
    height: 41.7rem;
    width: 100%;
    background: #ececec;
  }
  .box-medium-gray p {
    line-height: 1.3rem;
    width: 100%;
    padding-top: .3rem;
  }
}

footer {
  height: 12.5rem;
  background: url("../img/bg-footer.png") -978px 0 no-repeat;
  align-items: center;
  justify-content: center;
}

footer .menu-footer {
  display: none;
}

@media (min-width: 480px) {
  footer .menu-footer {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  footer .menu-footer li {
    text-transform: uppercase;
    color: white;
    text-shadow: 0.05rem 0.05rem 0.2rem #454545;
    width: auto;
    text-align: center;
    font-size: 1.2rem;
  }
}

footer .tm {
  font-size: .75rem;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.2rem #454545;
  margin-top: 2.6rem;
}

footer .tm .tm-bold {
  font-weight: bold;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: "LeagueGothicRegular";
}

p {
  font-family: "OpenSansLight";
}

h2, a, li, ul {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}
